<body>
    <header (window:scroll)="onWindowScroll($event)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-md-2 top_left">
                    <div class="logo">
                        <img src="https://www.liverpoolfc.com/liverpoolfc_crest.png" alt="" class="card-img show_img">
                    </div>
                </div>
                <div class="col-lg-11 col-md-10 top_right">
                    <nav class="navbar navbar-expand-sm navbar-light  menu_top">
                        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                            data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavId">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link li_top liver " href="#">LIVERPOOLFC.COM</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link li_top livers" href="#">STORE</a>
                                </li>
                            </ul>

                        </div>
                        <img src="https://www.sc.com/en/content/themes/standardchartered/assets/src/images/standard-chartered.svg"
                            alt="" class="logo_02">
                        <a href="login.html"><i class="far fa-user mr-3 ml-5 icon"></i></a>
                    </nav>
                    <p class="text  mb-0 p-1">Official Liverpool FC Store</p>
                    <nav class="navbar navbar-expand-sm navbar-light menu_fixed tablet_ " >
                        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                            data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavId">
                            <!-- <h3 class="text-center liver" id="lfc">LFC</h3> -->
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 menu_then">
                                <li class="nav-item pt-2 pr-3 pl-3">
                                    <a class="nav-link liver" href="#">Nike</a>
                                </li>
                                <li class="nav-item pt-2 pr-3 pl-3">
                                    <a class="nav-link liver" href="#">Matchday Ready</a>
                                </li>
                                <li class="nav-item pt-2 pr-3 pl-3">
                                    <a class="nav-link liver" href="#">Pashion</a>
                                </li>
                                <li class="nav-item pt-2 pr-3 pl-3">
                                    <a class="nav-link liver" href="#">Living</a>
                                </li>
                                <li class="nav-item pt-2 pr-3 pl-3">
                                    <a class="nav-link liver" href="#">Souvenis</a>
                                </li>
                            </ul>

                        </div>
                        <div class="search">
                            <div class="search_icon">
                                <i class="fas fa-search icon mr-3" (click)="onClick()"></i>
                            </div>
                            <div class="form_control" id="show_search">
                                <form action="" class="form">
                                    <input type="text" placeholder="Search here . . . . ." >
                                </form>
                            </div>
                            <div>
                                <i class="fa-solid fa-xmark form_control"  id="delete" (click)="deleteSearch()"></i>
                            </div>
                        </div>
                        <a><i class="fas fa-shopping-bag icon ml-4 "></i></a>
                        <a href="" class="header-widget">

                            <i class="fa-solid ">
                                <p><small>{{length}}</small></p>
                            </i>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="d-none" id="menu_scrol">
            <nav class="navbar navbar-expand-sm navbar-light menu_fixed tablet_ haha" >
                <h3 class="text-center liver" id="lfc">LFC</h3>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 menu_then">
                        <li class="nav-item pt-2 pr-3 pl-3">
                            <a class="nav-link liver" href="#">Nike</a>
                        </li>
                        <li class="nav-item pt-2 pr-3 pl-3">
                            <a class="nav-link liver" href="#">Matchday Ready</a>
                        </li>
                        <li class="nav-item pt-2 pr-3 pl-3">
                            <a class="nav-link liver" href="#">Pashion</a>
                        </li>
                        <li class="nav-item pt-2 pr-3 pl-3">
                            <a class="nav-link liver" href="#">Living</a>
                        </li>
                        <li class="nav-item pt-2 pr-3 pl-3">
                            <a class="nav-link liver" href="#">Souvenis</a>
                        </li>
                       
                    </ul>
                    <!-- <div class="search">
                        <div class="search_icon">
                            <i class="fas fa-search icon mr-3" (click)="onClick()"></i>
                        </div>
                        <div class="form_control" id="show_search">
                            <form action="" class="form">
                                <input type="text" placeholder="Search here . . . . ." >
                            </form>
                        </div>
                        <div>
                            <i class="fa-solid fa-xmark form_control"  id="delete" (click)="deleteSearch()"></i>
                        </div>
                    </div> -->
                    <i class="fas fa-search icon"></i>
                <a><i class="fas fa-shopping-bag icon ml-4"></i></a>
                <a href="" class="header-widget">

                    <i class="fa-solid ">
                        <p><small>{{length}}</small></p>
                    </i>
                </a>
                </div>
                
            </nav>
        </div>
        
        <!-- <div class="title ">
            <span class="names">Name & Number printing from £5 > </span>
            <span class="name">Shop 22/23 Now >></span>
        </div> -->
    </header>


    <main>
        <div class="main mb-5">
            <h2 class="text-center text-danger mb-5 mt-5">
                SHOPPING CART
            </h2>
            <div class="allitem mb-2 mt-2">
                <div class="shopcart">
                    <li>Home</li><p></p><i class="fa-solid fa-angle-right ml-3 mr-3"></i><p></p><li>Shopping Cart</li>
                </div>
                <div class="">
                    <p>{{cart.length}} items in the bag</p>
                </div>
            </div>
            <div class="productcart mb-3" *ngFor="let item of cart">
                <div class="title_cart">
                    <div class="cardimage">
                        <img src="{{item.image1}}" alt="" width="100%">
                    </div>
                    <div class="ml-2">
                        <h5>{{item.title}}</h5>
                        <!-- <p>Description for product item number 1</p> -->
                        <h6>{{item.price}} $</h6>
                    </div>
                </div>     
                <div class="amount">
                    <div class="row buy mb-5 mt-5">
                        <div class="input ml-3">
                            <button class="btn-fake left_ip text-center" (click)="mark('-',item.id)">-</button>
                            <input type="text" value="{{item.quantity}}" id="quantily{{item.id}}" style="text-align: center;">
                            <button class="btn-fake right_ip text-center" (click)="mark('+', item.id)">+</button>
                        </div>
                        <div id="rateYo" class="star ml-5"></div>
                    </div>
                    <i class="fa-solid fa-xmark" (click)="deleteCart(item.id)"></i>
                </div>
                
            </div>

            <div class="cart_bottom">
                <div>
                    <p>Have A Promo Code? </p>
                    <div class="discount">
                        <div>
                            <input type="text">
                        </div>
                        <div class="code_icon">
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="pay">
                    <div >
                        <p class="mr-3">Subtotal:</p>
                        <!-- <p class="mr-3">VAT:</p> -->
                        <h5 class="mr-3">Total:</h5>
                    </div>
                    <div>
                        <p> $ {{total}}</p>
                        <!-- <p>£70.95</p> -->
                        <h5> $ {{total}}</h5>
                    </div>
                </div>
            </div>
        </div>

        
    </main>


    <footer class="">
        <div class="financial">
            <img src="https://store.liverpoolfc.com/media/uploads/LFCPartners_SCB-min.png" width="10%" alt=""
                class="mr-3 ml-3">
            <img src="https://store.liverpoolfc.com/media/uploads/2ebb49144952e__NIKE_LOGO.png" alt=""
                class="mr-3 ml-3">
            <img src="https://store.liverpoolfc.com/media/wysiwyg/logo-axa.png" width="5%" alt="" class="mr-3 ml-3">
            <img src="https://store.liverpoolfc.com/media/uploads/part_expedia_logo.png" alt="" class="mr-3 ml-3">
        </div>
        <p class="follow mb-6 mt-5">Follow Us</p>

        <div class="container d-flex hah">
            <div class="row">
                <div class="inta mr-3 ml-3">
                    <div class="icon_">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <p>Instagram</p>
                </div>
                <div class="inta mr-3 ml-3">
                    <div class="icon_">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <p>Twitter</p>
                </div>
                <div class="inta mr-3 ml-3">
                    <div class="icon_">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <p>Facebook</p>
                </div>
            </div>
        </div>

        <div class="button bg-light mt-5">
            <div class="ad">
                <p class="text-center">We accept the following payment methods</p>
                <img src="https://store.liverpoolfc.com/media/uploads/lfc-payment-methods.png" alt="" class="card-img">
            </div>
        </div>
        <p class="text-center end ">© Liverpoolfc.com 2022. All Rights Reserved. VAT Registration No: 325 1957 56</p>
    </footer>
</body>

