
.number{
    background: #f4f7fc;
}
.bg{
    background: rgb(23, 68, 246);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
}
.bg i{
    color: #fff;
    line-height: 30px;
}
.card {
    box-shadow: 0 2px 4px rgb(126 142 177 / 12%);
    margin-bottom: 1.5rem;
}
.py-3 {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}