<div class="text-center user mt-3">
    <img src="https://ngaymoionline.com.vn/stores/news_dataimages/daothuha/052022/31/17/in_article/2508_qh-1647311779-417-width740height493.jpg?rt=20220531172526" alt="">
    <!-- <img src="https://scontent.fhan3-5.fna.fbcdn.net/v/t39.30808-6/287871504_1094408098087354_2196579182191169866_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=jdjEq6gzsfQAX9shrWK&_nc_ht=scontent.fhan3-5.fna&oh=00_AT-CwjofuqkLMkBoiiDCzBZbkHtXnynUQ4sEXoSr_J8AqA&oe=62D2A5E1" alt=""> -->
    <h5 class="text-center mt-2">Hai Con</h5>
</div>
<div>
    <div class="mt-3 dashboards">
        <ul>
            <li><i class="fa-solid fa-house text-praimary mr-2"></i><a>Dashboard</a></li>
        </ul>
        <ul>
            <li> <i class="fa-solid fa-clipboard-list mr-2"></i><a>Orders</a></li>
        </ul>
        <ul>
            <li><i class="fa-solid fa-cart-shopping mr-2"></i><a [routerLink]="['/admin/list-pro']">Products</a></li>
        </ul>
        <ul>
            <li><i class="fa-solid fa-people-group mr-2"></i><a>Customers</a></li>
        </ul>
        <ul>
            <li><i class="fa-solid fa-chart-column mr-2"></i><a>Reports</a></li>
        </ul>
        <ul>
            <li><i class="fa-solid fa-layer-group mr-2"></i><a>Integrations</a></li>
        </ul>
    </div>
</div>

<div class="mt-2">
    <div class="saved mb-2 mt-2">
        <div>
            <h6 class="">SAVED REPORTS</h6>
        </div>
        <div class="">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
    </div>
    <div class=" dashboards">
        <ul>
            <li><i class="fa-solid fa-file-lines mr-2"></i><a href="">Current month</a></li>
        </ul>
        <ul>
            <li><i class="fa-solid fa-file-lines mr-2"></i><a href=""> Last quarter</a></li>
        </ul>
        <ul>
            <li><i class="fa-solid fa-file-lines mr-2"></i><a href="">Social engagement</a></li>
        </ul>
        <ul>
            <li><i class="fa-solid fa-file-lines mr-2"></i><a href="">Year-end sale</a></li>
        </ul>
    </div>
</div>
