a{
    color: #111 !important;
    text-decoration: none;
}
.user {
    padding-bottom: 10px;
    border-bottom: 1px solid #111;
}
.user img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* .dashboards{
    border-bottom: 1px solid #111;
} */
.dashboards ul{
    padding-left: 0;
}
.dashboards ul li{
    list-style: none;
    padding-left: 10px;
}
.dashboards ul:hover li{
    background: rgb(218, 108, 108);
    color: #fff !important;
}
.dashboards ul:hover li a{
    color: #fff !important;
}
.saved{
    display: flex;
    justify-content: space-between;
}